.filter-sort-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-button {
  background-color: #393341;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #f9f2f2;
  border-radius: 8px;
  padding: 1rem;
  z-index: 10;
  min-width: 180px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.filter-dropdown label,
.sort-dropdown p {
  display: block;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #232227;
}

.filter-dropdown input[type="checkbox"] {
  margin-right: 0.5rem;
}
