.navbar {
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #5e3bee;
  text-decoration: none;
}
