/* body {
  margin: 0;
  background-color: #232227;
  color: #fff;
  font-family: 'Inter', sans-serif;
} */


.hero-search-box {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.tab-buttons button.active {
  background-color: #008060;
  color: white;
}

.datetime-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
